{#{% extends "TwigBundle::layout.html.twig" %}#}

{% block head %}
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
<link rel="stylesheet" href="{{ asset('bundles/esbattle/css/all.css') }}" />
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
<link rel="stylesheet" href="{{ asset('bundles/esbattle/css/all.css') }}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

{% endblock %}

{% block title 'Demo Bundle' %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-message">
	<em>Notice</em>: {{ flashMessage }}
</div>
{% endfor %}

{% block content_header %}

{% block content_header_more %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="" class="navbar-brand">ESBATTLE ADMIN</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="{{ path('acme_es_battle_admin_upload') }}">Upload image</a></li>
			<li><a href="{{ path('acme_es_battle_admin_biblio') }}">Images</a></li>
            <li><a href="{{ path('acme_es_battle_admin_redaction') }}">Rédaction News</a></li>
			<li><a href="{{ path('acme_es_battle_admin_partenaire') }}">Partenaires</a></li>
			<li><a href="{{ path('acme_es_battle_admin_video') }}">Vidéos</a></li>
		</ul>
	</div>
</nav>

{% endblock %}

{% endblock %}

<div class="container" style="margin-top:70px">
	{% block content %}{% endblock %}
</div>

{% if code is defined %}
<h2>Code behind this page</h2>
<div class="block">
	<div class="symfony-content">{{ code|raw }}</div>
</div>
{% endif %}
{% endblock %}
