<title>Bienvenue sur Esbattle.com</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<style type="text/css">
    /* Fonts and Content */
    body, td {
        font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
        font-size: 14px;
    }

    body {
        background-color: #ededed;
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
    }

    h2 {
        padding-top: 12px; /* ne fonctionnera pas sous Outlook 2007+ */
        color: #f15641;
        font-size: 22px;
    }</style>
<table border="0" cellpadding="0" cellspacing="0" style="background-color:#ededed" width="100%">
    <tbody>
    <tr>
        <td align="center" bgcolor="#ededed">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <!-- entete -->
                <tr class="pagetoplogo">
                    <td bgcolor="#f15641" class="w640" width="640">
                        <table bgcolor="#f15641" border="0" cellpadding="0" cellspacing="0" class="w640" width="640">
                            <tbody>
                            <tr>
                                <td class="w30" width="30">
                                    &nbsp;</td>
                                <td align="left" class="w580" valign="middle" width="580">
                                    <div class="pagetoplogo-content">
                                        <img alt="Follow us on Twitter / Facebook" class="w580"
                                             src="http://img.mailinblue.com/1053472/images/5474a86aeff2a.jpg"
                                             style="text-decoration: none; display: block; color: rgb(241, 86, 65); font-size: 30px; width: 217px; height: 116px;"/>
                                    </div>
                                </td>
                                <td class="w30" width="30">
                                    &nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- contenu -->
                <tr class="content">
                    <td bgcolor="#f15641" class="w640" width="640">
                        <table border="0" cellpadding="0" cellspacing="0" class="w640" width="640">
                            <tbody>
                            <tr>
                                <td class="w30" width="30">
                                    &nbsp;</td>
                                <td class="w580" width="580">
                                    <!-- une zone de contenu -->
                                    <table border="0" cellpadding="0" cellspacing="0" class="w580" width="580">
                                        <tbody>
                                        <tr>
                                            <td class="w580" width="270">
                                                <a href="https://twitter.com/esbattle?utm_source=sendinblue&amp;utm_campaign=PUB_ESB_POUR_KERNEL_PANIC_RAID&amp;utm_medium=email"><img
                                                            alt="Follow us on Twitter" class="w580"
                                                            src="http://img.mailinblue.com/1053472/images/5474a87a99d72.png"
                                                            style="text-decoration: none; display: block; color: rgb(241, 86, 65); font-size: 30px; width: 230px; height: 78px;"/></a>
                                            </td>
                                            <td width="270">
                                                <a href="https://www.facebook.com/esbattlelfg?utm_source=sendinblue&amp;utm_campaign=PUB_ESB_POUR_KERNEL_PANIC_RAID&amp;utm_medium=email"><img
                                                            alt="Like us on Facebook" class="w580"
                                                            src="http://img.mailinblue.com/1053472/images/5474a87eeaab6.png"
                                                            style="text-decoration: none; display: block; color: rgb(241, 86, 65); font-size: 30px; width: 268px; height: 80px;"/></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" class="w580" width="580">
                                        <tbody>
                                        <tr>
                                            <td class="w580" width="580">
                                                <h2 style="color:#fff; font-size:22px; padding-top:12px;">
                                                    Bonjour {{ username }},</h2>

                                                <div align="left" class="article-content"
                                                     style="line-height: 22px; color: white; font-size: 17px;">
                                                    <p>
                                                        tu nous as demandé notre aide pour retrouver tes identifiants perdus pendant la bataille ?
                                                    </p>

                                                    <p>
                                                        Réinitialises ton mot de passe ici :<a href="http://lfg.esbattle.com/fr/password/forget/{{ username }}/{{ forgetKey }}">lfg.esbattle.com/fr/password/forget/{{ username }}/{{ forgetKey }}</a>
                                                    </p>

                                                    <p>
                                                        Nous ne pouvons pas te renvoyer ton mot de passe Esbattle, cette données est cryptée !
                                                    </p>

                                                    <p>
                                                        Pour toute demande de support, n'hésites pas à nous contacter
                                                        sur facebook ou par mail : <a
                                                                href="mailto:contact.esbattle@gmail.com">contact.esbattle@gmail.com</a>
                                                    </p>

                                                    <p>
                                                        Bon jeu Gardien !
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- fin zone --></td>
                                <td class="w30" width="30">
                                    &nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- pied de page -->
                <tr class="pagebottom">
                    <td class="w640" width="640">
                        <table bgcolor="#c7c7c7" border="0" cellpadding="0" cellspacing="0" class="w640" width="640">
                            <tbody>
                            <tr>
                                <td colspan="5" height="10">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td class="w30" width="30">
                                    &nbsp;</td>
                                <td class="w580" valign="top" width="580">
                                    <p align="right" class="pagebottom-content-left">
                                        <a href="www.esbattle.com?utm_source=sendinblue&amp;utm_campaign=PUB_ESB_POUR_KERNEL_PANIC_RAID&amp;utm_medium=email"
                                           style="color:#f15641;"><span style="color:#000000;">L&#39;&eacute;quipe d&#39;Esbattle.com</span></a>
                                    </p>
                                </td>
                                <td class="w30" width="30">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="5" height="10">
                                    &nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="w640" height="60" width="640">
                        &nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<br/>
