{% extends 'AcmeEsBattleBundle::layout.html.twig' %}
{% block content %}
    <p>
        <br/><a class="btn btn-primary" href="{{ path('acme_es_battle_planification_create') }}">Nouvelle Planification</a>
    </p>
    <h2>Planification affichée en ce moment</h2>
    {% if current %}
    <ul style="padding:0">
        <li class="list-group-item">
            {{ current.start|date("d/m/Y") }} - {{ current.end|date("d/m/Y") }}
            </br>
            {{ current.titre }}
            </br>
            {{ current.description }}
            </br>
            {% if current.video %}
            Vidéo : {{ current.video.url }}
            {%  endif %}
            </br>
            {% if current.image %}
            Image : {{ current.image.url }}
            {%  endif %}
        </li>
    </ul>
    {% endif %}
    <h2>Toutes les planifications</h2>
    <ul style="padding:0">
        {% for planification in planifications %}
            <li class="list-group-item">
                {{ planification.start|date("d/m/Y") }} - {{ planification.end|date("d/m/Y") }} > {{ planification.titre }}
                <br/>
                <div class="btn-group-xs">
                    <a href="{{ path('acme_es_battle_planification_update', { 'id': planification.id }) }}" class="btn btn-default">Modifier</a>
                    <a href="{{ path('acme_es_battle_planification_delete', { 'id': planification.id }) }}" class="btn btn-default">Supprimer</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}